name: .NET CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Restore dependencies
        run: dotnet restore ImdbClone.Api/ImdbClone.Api.csproj

      - name: Build
        run: dotnet build ImdbClone.Api/ImdbClone.Api.csproj --no-restore --configuration Release

      - name: Run tests
        run: dotnet test ImdbClone.Tests/ImdbClone.Tests.csproj --no-build --verbosity normal --configuration Release
